<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		<%- include('./partials/nav.ejs') %>
		<div class="abttt">
			<div class="abt-header">
				<h1 class="headd">About Us</h1>
				<p class="abt_story">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever 
                    since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                     It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                      It was popularised in the 1960s with the release of Letraset sheets containing
                     Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsu
                     
				</p>
			</div>
			<div class="form_abt">
				<form action="" method="post" class="search">
					<input
						class="input_abt"
						type="text"
						id="search"
						name="search"
						placeholder="search ......."
					/>

					<button class="btn_abt" type="Submit">
						<i
							class="bi bi-search"
							style="font-size: 16px color chocolate"
							;
						></i>
					</button>
				</form>
			</div>
			<div class="list_abt">
				<div class="abt_d">
					<p class="ppp_abt">COMMENTS ON DISPLAY</p>
					<div id="card">
						<% comments.forEach((comment) =>{ %>
						<p class="p_abt">COMMENT</p>
						<p class="abt_cm">Username : <%-comment.username %></p>
						<p class="abt_cm">Email Address : <%-comment.email_address %></p>
						<p class="abt_cm">
							Comment_Section : <%-comment.comment_section %>
						</p>
						<a href="/about/<%-comment._id %>" class="abt_id">Edit</a>

						<% }) %>
					</div>
				</div>
			</div>
		</div>
<div class="whole_div">
		<div class="foods-category">
			<h5>Meet The Team</h5>
			<section class="second-tables features-two">
				<div class="foods1 profile1">
					<img src="./assignment/photo-013d.jpg" />
					<div class="food-response">Asante</div>
					<div class="foods_detail">C. E. O</div>
					<ul class="socils">
						<li class="li">
							<i class="bi bi-twitter" style="font-size: 16px"></i>
						</li>
						<li class="li">
							<i class="bi bi-facebook" style="font-size: 16px"></i>
						</li>
						<li class="li">
							<i class="bi bi-linkedin" style="font-size: 16px"></i>
						</li>
						<li class="li">
							<i class="bi bi-instagram" style="font-size: 16px"></i>
						</li>
					</ul>
				</div>
				<div class="foods1">
					<img src="/assignment/photo-2604.jpg" />
					<div class="food-response">Kofi</div>
					<div class="foods_detail">Chef</div>
					<ul class="socils">
						<li class="li">
							<i class="bi bi-twitter" style="font-size: 16px"></i>
						</li>
						<li class="li">
							<i class="bi bi-facebook" style="font-size: 16px"></i>
						</li>
						<li class="li">
							<i class="bi bi-linkedin" style="font-size: 16px"></i>
						</li>
						<li class="li">
							<i class="bi bi-instagram" style="font-size: 16px"></i>
						</li>
					</ul>
				</div>
				<div class="foods1">
					<img src="/assignment/photo-4330.jpg" />
					<div class="food-response">Bloh</div>
					<div class="foods_detail">Manager</div>
					<ul class="socils">
						<li class="li">
							<i class="bi bi-twitter" style="font-size: 16px"></i>
						</li>
						<li class="li">
							<i class="bi bi-facebook" style="font-size: 16px"></i>
						</li>
						<li class="li">
							<i class="bi bi-linkedin" style="font-size: 16px"></i>
						</li>
						<li class="li">
							<i class="bi bi-instagram" style="font-size: 16px"></i>
						</li>
					</ul>
				</div>
			</section>
		</div>
    </div>

		<%- include('./partials/footer.ejs') %>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
			integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script src="index.js"></script>
		<script src="about.js"></script>
	</body>
</html>
